// Custom colors
@blue:                  #04C3C0;
@blueDark:              #006DB6;
@green:                 #51933E;
@red:                   #8C1A1F;
@yellow:                #E3A00C;
@orange:                #DC7605;
@pink:                  #AD2C77;
@purple:                #5C3CA2;

//== Colors
//
//## Gray and brand colors for use across Bootstrap.
@gray-base:              #1A1917;
@gray-darker:            lighten(@gray-base, 13.5%); 
@gray-dark:              lighten(@gray-base, 20%);   
@gray:                   lighten(@gray-base, 33.5%); 
@gray-light:             lighten(@gray-base, 46.7%); 
@gray-lighter:           lighten(@gray-base, 93.5%); 

@brand-primary:          @purple;
@brand-success:          @green;
@brand-info:             @blue;
@brand-warning:          @yellow;
@brand-danger:           @red;

//== Scaffolding
//
//## Settings for some of the most global styles.

//** Background color for `<body>`.
@body-bg:              #FFF9E6;

//@body-bg:              yellow;

//** Global text color on `<body>`.
@text-color:            @gray-dark;

