// FIS Colors
@primary: 				#007d8a;
@green:                 #8dc63f;
@blue:                  #00aec7;
@purple:                #72246c;
@orange:                #e7a614;
@red:                   #aa0061;



// Text
@pageText:          	#464645;
@formLabels:        	#777363;
@dataValue:         	#222;
@links :            	#2a5db0;
@visited :          	#3888bc;
@emphasis :         	#72246C;
@softLink :         	#666666;
@error:             	#990000;

// Border
@border:            	#ccc;

// Background
@backgroundDark:    	#767676;
@backgroundMedium:  	#ddd;
@backgroundLight:   	#f5f5f5;

/*
◦Arial, Helvetica, sans-serif 
◦16px (1em) (100%) with exceptions such as Buttons, Banner navigation and Tabs 
◦Minimum: 14px

*/

// Custom colors
@brand-primary:     	 @primary;
@brand-success:          @green;
@brand-info:             @blue;
@brand-warning:          @orange;
@brand-danger:           @red;


@white:                 #FFF9E6;

//== Colors
//
//## Gray and brand colors for use across Bootstrap.
@gray-base:              #1A1917;
@gray-darker:            lighten(@gray-base, 13.5%); 
@gray-dark:              lighten(@gray-base, 20%);   
@gray:                   lighten(@gray-base, 33.5%); 
@gray-light:             lighten(@gray-base, 46.7%); 
@gray-lighter:           lighten(@gray-base, 93.5%); 



//== Scaffolding
//
//## Settings for some of the most global styles.

//** Background color for `<body>`.
@body-bg:              @gray-lighter;

//** Global text color on `<body>`.
@text-color:            @pageText;



// Wells
// -------------------------
@wellBackground:                  #f5f5f5;

// Navbar
// -------------------------
@navbar-height:                   50px;
@navbarBackgroundHighlight:       mix(@primary, @gray-lighter,40%);
@navbarText:                      @white;
@navbarLinkColor:                 @navbarText;
@navbarLinkColorHover:            darken(@blue,20%);
@navbarLinkColorActive:           @navbarLinkColorHover;
@navbarLinkBackgroundHover:       transparent;
@navbarBackground:                @navbarBackgroundHighlight;
@navbarLinkBackgroundActive:      darken(@navbarBackground, 5%);
